In [ ]:
import pandas as pd
import numpy as np
from PIL import Image,ImageDraw
import os
import cv2

In [ ]:
!pip install opencv-python

In [35]:
df1 = pd.read_csv('/Users/estefanosk/Desktop/untitled folder 2/Final_Data_mining_project/CSC869-Finalproject/cip_ctx_ctz_gen_multi_data.csv')
df2 = pd.read_csv('/Users/estefanosk/Desktop/untitled folder 2/Final_Data_mining_project/CSC869-Finalproject/cip_ctx_ctz_gen_pheno.csv')

Final dataset

In [36]:
# merge the two dataframe
df = pd.merge(df2, df1, on='prename', how='inner')
df.head()

,prename,CIP,CTX,CTZ,GEN,X393,X588,X747,X759,X774,...,X4639956.3,X4640785.3,X4640908.3,X4640924.3,X4641031.3,X4641131.3,X4641217.3,X4641296.3,X4641439.3,X4641440.3
0,H100_S2_L001,0,1,0,0,2,1,2,4,3,...,3,4,4,2,1,3,1,3,3,1
1,H105_S3_L001,1,1,0,0,2,1,2,4,3,...,3,4,4,2,1,3,1,3,3,1
2,H108_S5_L001,0,1,0,0,2,1,2,4,3,...,3,4,4,2,1,3,1,3,3,1
3,H109_S2_L001,0,1,0,0,2,1,2,4,3,...,3,4,4,2,1,3,1,3,3,1
4,H113_S6_L001,1,1,0,0,0,0,2,4,3,...,3,4,0,0,2,3,1,3,3,1

In [37]:
Each_isolate_jpeg_df = df.copy()

In [43]:
Each_isolate_jpeg_df.drop(columns=['prename', 'CIP', 'CTX', 'CTZ', 'GEN'], inplace=True)

In [44]:
Each_isolate_jpeg_df.head()

,X393,X588,X747,X759,X774,X966,X1299,X1302,X1407,X1425,...,X4639956.3,X4640785.3,X4640908.3,X4640924.3,X4641031.3,X4641131.3,X4641217.3,X4641296.3,X4641439.3,X4641440.3
0,2,1,2,4,3,3,3,3,4,2,...,3,4,4,2,1,3,1,3,3,1
1,2,1,2,4,3,3,3,3,4,2,...,3,4,4,2,1,3,1,3,3,1
2,2,1,2,4,3,3,0,0,4,2,...,3,4,4,2,1,3,1,3,3,1
3,2,1,2,4,3,3,3,3,4,2,...,3,4,4,2,1,3,1,3,3,1
4,0,0,2,4,3,3,3,3,4,2,...,3,4,0,0,2,3,1,3,3,1

In [39]:
# Define a mapping of values to colors (adjust as needed)
color_mapping = {
    0: (255, 255, 255),  # White
    1: (0, 0, 0),        # Black
    2: (255, 0, 0),      # Red
    3: (0, 255, 0),      # Green
    4: (0, 0, 255)       # Blue
}

In [50]:
images = []

def get_image(df, width, height):
    global images
    for i in range(df.shape[0]):
        sequence = df.iloc[i].values
        image = np.zeros((height, width, 3), dtype=np.uint8)
        for j in range(height * width):
            rgb_value = color_mapping[sequence[j]]
            x = j % width
            y = j // width
            image[y, x] = rgb_value
        images.append(image)
    # Create the output folder if it doesn't exist
    output_folder = 'output_images'
    if not os.path.exists(output_folder):
        os.makedirs(output_folder)

    # Save the images to the output folder
    for idx, img in enumerate(images):
        filename = os.path.join(output_folder, f'image_{idx}.png')
        # save images in PNG format
        cv2.imwrite(filename, img)
    return images

In [51]:
get_image(Each_isolate_jpeg_df, 312, 195)

NameError: name 'cv2' is not defined