In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('cip_ctx_ctz_gen_multi_data.csv')
df2 = pd.read_csv('cip_ctx_ctz_gen_pheno.csv')

In [3]:
df1

,prename,X393,X588,X747,X759,X774,X966,X1299,X1302,X1407,...,X4639956.3,X4640785.3,X4640908.3,X4640924.3,X4641031.3,X4641131.3,X4641217.3,X4641296.3,X4641439.3,X4641440.3
0,H100_S2_L001,2,1,2,4,3,3,3,3,4,...,3,4,4,2,1,3,1,3,3,1
1,H105_S3_L001,2,1,2,4,3,3,3,3,4,...,3,4,4,2,1,3,1,3,3,1
2,H108_S5_L001,2,1,2,4,3,3,0,0,4,...,3,4,4,2,1,3,1,3,3,1
3,H109_S2_L001,2,1,2,4,3,3,3,3,4,...,3,4,4,2,1,3,1,3,3,1
4,H113_S6_L001,0,0,2,4,3,3,3,3,4,...,3,4,0,0,2,3,1,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,wwRBK-17-0298-1_S42,0,0,2,4,3,3,0,0,4,...,3,4,0,0,2,3,1,3,3,1
805,wwRBK-17-075-1_S28,2,1,2,4,3,3,3,3,4,...,3,4,4,2,1,3,1,3,3,1
806,wwRBL-16-111-1_S16,2,0,0,0,3,0,3,3,4,...,3,4,0,0,0,3,0,0,0,0
807,wwRBL-17-004-1_S44,2,1,2,4,3,3,3,3,4,...,3,4,4,2,1,3,1,3,3,1
808,WWSurvcare043_S43,2,1,2,4,3,3,3,3,4,...,3,4,4,2,1,3,1,3,3,1

In [4]:
df2

                 prename  CIP  CTX  CTZ  GEN
0           H100_S2_L001    0    1    0    0
1           H105_S3_L001    1    1    0    0
2           H108_S5_L001    0    1    0    0
3           H109_S2_L001    0    1    0    0
4           H113_S6_L001    1    1    0    0
..                   ...  ...  ...  ...  ...
804  wwRBK-17-0298-1_S42    1    1    1    0
805   wwRBK-17-075-1_S28    1    1    1    1
806   wwRBL-16-111-1_S16    1    1    1    0
807   wwRBL-17-004-1_S44    1    1    1    1
808    WWSurvcare043_S43    1    1    1    0

[809 rows x 5 columns]